<div class="logo">
  <h1>Time Tracker</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: "nav-link #{active?(root_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Items', posts_path, class: "nav-link #{active?(posts_path)}" %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Messages</a>
  </li>
  <li class="nav-item ms-auto">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Account
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><%= link_to 'Edit Details', edit_user_registration_path, class: 'dropdown-item' %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
      </ul>
    </div>
  </li>
</ul>