<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Items Pending for Your Approval</h2>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'request', locals: { pending_requests: @overtime_requests } %>
  </div>
</div>
<% if @recent_audit_items&.any? %>
  <div class="container-fluid bg bg-secondary">
    <div class="row">
      <div class="col">
        <h2>Pending Submissions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to 'View All Items', audit_logs_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <%= render partial: 'confirmation_log', locals: { recent_audit_items: @recent_audit_items } %>
    </div>
  </div>
<% end %>