<h2 class="my-3">Overtime Requests</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Overtime Request</th>
      <th scope="col">Date</th>
      <th scope="col">User</th>
      <th scope="col">Rationale</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="posts">
  <%# @posts.each do |post| %>
    <%= render @posts %>
  <%# end %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @posts, remote: true %>
</div>